.AdminNav{
    display: flex;
    width: 40rem;
    margin-left: 25rem;
    margin-top: 1.5rem;

}

.AdminNav button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem ;
}

hr{
    width: 70%;
    margin-left: 25rem;
}