.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  position: absolute;
  left: 20%;
}

.barchart,
.piechart {
  width: 400px;
  height: 400px;
  margin: 10px;
}

.color-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  