.chacontainer {
  /* height: 80vh; */
  margin: auto;
  margin-top: 3rem;
  width: 70%;
  background-color: white;
  display: grid;
  grid-template-columns: 40% 60%;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 18px;
  
}

@media screen and (max-width: 800px) {
  .chacontainer {
    top: 0;
    left: 0%;
    margin-top: 15%;

    width: 99vw;
  }
}


