@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.donate {
  background-repeat: no-repeat;
  margin-left: 0%;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB1lN1hGZAj0MpZ1ZoN7tt7q38JyzTvjmSMQ&usqp=CAU"); */
  background-size: cover;
  background-size: 100rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donateForm {
  text-align: center;
  background-color: #fbfbfb;
  padding: 30px;
  border-radius: 1rem;
  width: 24rem;
  height: 23rem;
  box-shadow: 2px 2px 9px rgb(220, 220, 220);
}

.loginForm2 {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 1rem;
}

.donate input {
  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;

  margin-top: 0.8rem;
}

#donate-btn {
  font-size: 1rem;
  margin-top: 3rem;
  border-radius: 1.2rem;
  border: none;
  background-color: #1773ea;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;

}
