.analytic {
  background: #48b0df;
  padding: 0.1px;
  min-height: 95vw;
  height: max-content;
  width: 100vw;
}
.analytic .bodyy {
  width: 82vw;
  background: white;
  margin-left: auto;
  margin-right: 2vw;
  border-radius: 1rem;
  padding: 0.1px;
  margin-top: 2rem;
}
.analytic .bodyy h1 {
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 100%;
}
.analytic .bodyy h2 {
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.4rem;
}
.inputfilters {
  width: 98%;
  background: white;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  border-radius: 1rem;
  padding-top: 1rem;
}
.inputfiltersflex {
  display: flex;
  justify-content: flex-start;
  width: 19vw;
  margin-left: 1rem;
  height: 5rem;
}
.inputfiltersflex input {
  width: 11vw;
  margin-left: 1rem;
  background: rgb(234, 245, 255);
  height: 3rem;
  border-radius: 0.5rem;
}
.inputfiltersflex input:focus {
  width: 11vw;
  margin-left: 1rem;
  background: rgb(234, 245, 255);
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 0;
}

.inputfiltersflex .inputfilterlabel {
  padding-top: 0.5rem;
}
.optionsearch {
  width: 98%;
  background: white;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  border-radius: 1rem;
  padding-top: 1rem;
}

.optionsearchflex {
  width: 12vw;
  margin-left: 1rem;
  height: 5rem;
}
.optionsearchflex label {
  width: 100%;
  display: block;
}
.optionsearchflex select {
  width: 80%;
  height: 2rem;
  border: 1px solid #2a6f8f;
  border-radius: 0.5rem;
}
.analyticorder {
  width: 97%;
  background: #eaf8ff;
  margin: auto;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.analticssingleflex {
  flex: 50%;
  padding: 0;
  margin: 0;
}

.analticssingle {
  background: white;
  box-shadow: 2px 2px 9px rgb(212, 212, 212);
  width: 92%;
  margin: auto;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.analticssingle p {
  flex: 40%;
  text-align: left;
  margin-left: 1rem;
}
.highlight {
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .analytic .bodyy {
    width: 82vw;
    background: white;
    margin-left: auto;
    margin-right: 2vw;
    border-radius: 1rem;
    padding: 0.1px;
    margin-top: 2rem;
  }
  .analytic .bodyy {
    width: 98vw;
    background: white;
    margin-left: auto;
    margin-right: 0vw;
    margin: auto;
    border-radius: 1rem;
    padding: 0.1px;
    margin-top: 2rem;
  }
  .inputfilters {
    width: 98%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    border-radius: 1rem;
    padding-top: 1rem;
  }
  .inputfiltersflex {
    flex: 80%;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    margin-left: 1rem;
    height: 5rem;
    text-align: left;
  }
  .inputfiltersflex input {
    width: 60%;
    margin-left: 1rem;
    background: rgb(234, 245, 255);
    height: 3rem;
    border-radius: 0.5rem;
  }
  .inputfiltersflex input:focus {
    width: 60%;
    margin-left: 1rem;
    background: rgb(234, 245, 255);
    height: 3rem;
    border-radius: 0.5rem;
  }
  .inputfiltersflex .inputfilterlabel {
    padding-top: 0.5rem;
    text-align: left;
  }
  .optionsearch {
    width: 98%;
    background: white;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    border-radius: 1rem;
    padding-top: 1rem;
    flex-wrap: wrap;
  }

  .optionsearchflex {
    flex: 40%;
    width: 50vw;
    margin-left: 1rem;
    height: 5rem;
    margin-bottom: 2rem;
  }

  .analticssingleflex {
    flex: 80%;
    padding: 0;
    margin: 0;
  }

  .analticssingle {
    background: white;
    box-shadow: 2px 2px 9px rgb(212, 212, 212);
    width: 95%;
    margin: auto;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  .analytic .bodyy h1 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 100%;
  }
  .analytic .bodyy h2 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.4rem;
  }
  .analytic .bodyy h1 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 95%;
  }
  .analytic .bodyy h2 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 95%;
    font-size: 1.4rem;
  }
}
