.generalmain {
  width: 100vw;
  background: #48b0df;
  min-height: 95vh;
  padding: 0.1px;
}
.general {
  margin-top: 2rem;
  border-radius: 1rem;
  width: 82vw;
  background: white;
  margin-left: auto;
  margin-right: 2vw;
  height: 11rem;
  display: flex;
}
.general img {
  height: 10rem;
  margin-left: auto;
  margin-right: 2vw;
  padding-top: 1rem;
}
.general h2 {
  font-size: 1.7rem;
  text-align: left;
  margin-left: 2rem;
}
.general p {
  font-size: 1.1rem;
  text-align: left;
  margin-left: 2rem;
}
.inputgeneral {
  width: 82vw;
  background: rgb(240, 249, 254);
  margin-left: auto;
  margin-right: 2vw;
  margin-top: 2rem;
  border-radius: 1rem;
  height: max-content;
  min-height: 28rem;
  padding: 0.1px;
  display: flex;
}
.inputgeneral h2 {
  font-size: 1.7rem;
  text-align: left;
  margin-top: 1rem;
}
.oneflex {
  background: white;
  width: 25vw;
  margin-left: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  min-height: 24rem;
  height: max-content;
  box-shadow: 2px 2px 9px rgb(214, 214, 214);
}
.oneflex h2 {
  font-size: 1.5rem;
}
.textgeneralp {
  width: 80%;
  height: 10rem;
  border-radius: 1rem;
  border: 2px solid #48b0df;
  padding: 1rem;
}
.oneflex button {
  border: none;
  width: 30%;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: #48b0df;
  color: white;
}
.oneflex button:hover {
  width: 32%;
}
.oneflex #consasda {
  text-align: left;
  margin-left: 4rem;
  font-size: 1.3rem;
  width: 90%;
}

.kidneymain {
  background: white;
  width: 82vw;
  margin-left: auto;
  margin-right: 2vw;
  height: max-content;
  min-height: 40rem;
  border-radius: 1rem;
  padding: 0.1px;
  padding-bottom: 5rem;
  margin-top: 2rem;
}
.kidneyimg img {
  width: max-content;
  max-width: 90%;
  margin: auto;
}
.kidneymain h2 {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.7rem;
  text-align: left;
}
#traarports {
  float: left;
  margin-left: 2rem;
  border: none;
  height: 3rem;
  width: 10vw;
  font-size: 1rem;
  background: #48b0df;
  border-radius: 0.5rem;
  color: white;
}
#traarports:hover {
  margin-top: -0.2rem;
}

#fhysdnb {
  width: 100%;
  margin-top: 5rem;
}
.kidneyimg {
  width: 100%;
  height: max-content;
}
.kidimgpreddac {
  width: 100%;
  height: max-content;
}
.kidimgpreddac button {
  margin-left: 2rem;
  border: none;
  height: 3rem;
  width: 10vw;
  font-size: 1rem;
  background: #48b0df;
  border-radius: 0.5rem;
  color: white;
  margin-top: 2rem;
}
.kidimgpreddac button:hover {
  background: #21a1dc;
}
#kidimgpred {
}
.kidneyresult {
  width: 55vw;

  margin: auto;
  min-height: 9rem;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 0.1px;
  text-align: center;
}
.kidneyresult h2 {
  font-size: 1.4rem;
  margin-top: 3rem;
  text-align: center;
}
.kidneyresult p {
  text-align: center;
}
.Modal__container img {
  margin-left: 8vw;
}

@media screen and (max-width: 1000px) {
  .kidneymain {
    background: white;
    width: 95vw;
    margin-left: auto;
    margin-right: 0vw;
    margin: auto;
    height: max-content;
    min-height: 40rem;
    border-radius: 1rem;
    padding: 0.1px;
    padding-bottom: 5rem;
    margin-top: 2rem;
  }
  .kidneyresult {
    width: 85vw;
    box-shadow: 2px 2px 9px rgb(198, 198, 198);
    margin: auto;
    min-height: 9rem;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 0.1px;
    text-align: center;
  }

  #traarports {
    float: left;
    margin-left: 2rem;
    border: none;
    height: 3rem;
    width: 30vw;
    font-size: 1rem;
    background: #48b0df;
    border-radius: 0.5rem;
    color: white;
  }
  #traarports:hover {
    margin-top: -0.2rem;
  }
  .kidimgpreddac button {
    margin-left: 1rem;
    border: none;
    height: 3rem;
    width: 30vw;
    font-size: 1rem;
    background: #48b0df;
    border-radius: 0.5rem;
    color: white;
    margin-top: 2rem;
  }
  .general {
    border-radius: 1rem;
    width: 90vw;
    background: white;
    margin-left: auto;
    margin-right: 0;
    margin: auto;
    min-height: 11rem;
    height: max-content;
    display: flex;
    margin-top: 2rem;
  }
  .general p {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 2rem;
    width: 70%;
  }
  .inputgeneral {
    width: 90vw;
    background: rgb(240, 249, 254);
    margin-left: auto;
    margin-right: 0vw;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    height: max-content;
    min-height: 28rem;
    padding: 0.1px;
    display: block;
    padding-bottom: 2rem;
  }
  .oneflex {
    background: white;
    width: 90%;
    margin-left: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    min-height: 0rem;

    height: max-content;
    box-shadow: 2px 2px 9px rgb(214, 214, 214);
    padding: 0.1px;
    padding-bottom: 2rem;
  }
}
