.one {
  pointer-events: none;
  width: 100%;
  height: 5rem;
  text-align: left;
  background: white;
  display: flex;
  box-shadow: 2px 2px 9px rgb(233, 233, 233);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  align-items: center;
  padding-left: 0.7rem;
}

.two {
}
#servicesicon {
  margin-left: 1rem;
}

.one img {
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  height: 2rem;
}

.one h1 {
  margin-left: 1rem;
  font-size: 1.4vw;
}

.navbar {
  border-right: 1px solid rgb(219, 219, 219);
  border-radius: 0rem;
  margin-left: 0rem;
  margin-top: 0rem;
  padding: 0;
  width: 14vw;
  box-shadow: 2px 2px 9px rgb(173, 173, 173);
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999999;
}
/* .navbar.active {

 width: 6rem;
 min-width: 0;
 position: fixed;
 margin-top: 0rem;
 height: 100vh;
 animation-name: slideN;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 23;
  top: 4rem;  
  
  
}  */
.navbar.false .two .navimg {
  filter: invert(64%) sepia(97%) saturate(1209%) hue-rotate(168deg)
    brightness(94%) contrast(85%);
}

.navbar.false {
  animation-name: slideV;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
  position: fixed;
  z-index: 999999;
  height: 100vh;
  background: white;
  top: 4rem;
}

/* @keyframes slideN {
  0% {
    min-width:180px ;
    width: 17%;
    
  }
  100% {
    width: 6rem;
    min-width: 0;
  }
} */

/* @keyframes slidea {
  0% {
    
    width: 200%;
    
  }
  100% {
    width: 6rem;
    
  }
}



@keyframes slideV {
  0% {
    
    width: 4rem;
    min-width: 0;
    
  }
  100% {
    min-width:100px ;
    width: 17%;
  }
}

.navbar.active .navli{
  display: none;

}
@keyframes dis{
  100%{
    display: none;
  } */
/* } */
.navbar.false .navli {
  animation-duration: 0.5s;
  animation-name: pAnimation;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
  padding-left: 0;

  color: #48b0df;
  margin-left: 0.5rem;
}

.navimgspace {
  padding-top: 1rem;
  width: 2.5vw;
}

.navbar.false #arrow {
  transform: scaleX(-1);
}
.navbar.false ul a {
  height: 4rem;
}

/* .navbar.active .two{
 width: 2rem;
 animation-name: slideN;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 overflow: scroll;
  height: max-content;
  padding-bottom: 7rem;
}

.navbar.active .two::-webkit-scrollbar{
  display: none;
} */

.navbar.false .two::-webkit-scrollbar {
  display: none;
}

#adce {
  filter: invert(64%) sepia(97%) saturate(1209%) hue-rotate(168deg)
    brightness(94%) contrast(85%);
}
#adcd {
  filter: invert(64%) sepia(97%) saturate(1209%) hue-rotate(168deg)
    brightness(94%) contrast(85%);
}
/* .navbar.active ul .navimg{
  margin: auto;
  filter: invert(71%) sepia(12%) saturate(3941%) hue-rotate(169deg) brightness(91%) contrast(91%);
}

.navbar.active .nav-menu{
  animation-name: slideV;
 animation-duration: 0s;
 animation-fill-mode: forwards;


} */

.navbar.false .nav-menu {
}
.navbar.false .two {
  overflow: scroll;
  height: max-content;
  padding-bottom: 7rem;
}

/* 
.navbar.active ul a{
  
  height: 7vh;
  box-shadow: 2px 2px 9px rgb(233, 233, 233);
  display: flex;
  text-decoration: none;
  background:white;
  color: black;
  font-size: 18px;
  justify-content: space-between;
  animation-name: slidea;
 animation-duration: 0.5s;
 animation-fill-mode: forwards;
 overflow: hidden;
 
}

.navbar.active .one h1{
  display: none;
} */

ul {
  text-align: center;
  width: 100%;
}

ul .navimg {
  height: 1.6vw;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.5rem;
}

li {
  height: 2rem;
  list-style: none;
  width: max-content;

  margin-top: 0rem;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1vw;
  display: flex;
  align-items: flex-start;
  padding-left: 2rem;
}

a:hover {
  font-size: 20px;
  box-shadow: 2px 2px 9px rgb(182, 182, 182);
}

a:hover .navimg {
  transform: rotate(1deg);
}

ul a {
  height: 4.5rem;
  box-shadow: 2px 2px 9px rgb(233, 233, 233);
  display: flex;
  text-decoration: none;
  background: white;
  color: black;
  font-size: 18px;
  width: 100%;
  justify-content: flex-start;
  padding-left: 1.5rem;
  padding-left: 1.5rem;
}
ul a:nth-child(even) {
  background: rgb(254, 254, 254);
}
.navli {
  font-weight: 600;
}

.nav-menu {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .mainnavss.active {
    display: none;
  }
  .mainnavss.false {
    animation-name: slidetnav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background: white;
    position: fixed;
    z-index: 999999;
  }
  @keyframes slidetnav {
    0% {
      transform: translate(-20rem);
    }
    100% {
      transform: translate();
    }
  }
  .one {
    width: 130%;
    height: 5rem;
    text-align: left;
    background: white;
    display: flex;
    box-shadow: 2px 2px 9px rgb(233, 233, 233);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    align-items: center;
    padding-left: 0.7rem;
  }
  .one h1 {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  .navbar {
    border-right: 1px solid rgb(219, 219, 219);
    border-radius: 0rem;
    margin-left: 0rem;
    margin-top: -1rem;
    padding: 0;
    width: 20rem;
    box-shadow: 2px 2px 9px rgb(173, 173, 173);
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    position: fixed;
    z-index: 9999999;
  }
  .navimgspace {
    padding-top: 1rem;
    width: 2.5rem;
  }
  li {
    height: 2rem;
    list-style: none;
    width: max-content;

    margin-top: 0rem;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
  }
  ul .navimg {
    height: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0.5rem;
  }
}
