@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.donate {
  background-repeat: no-repeat;
  margin-left: 0%;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB1lN1hGZAj0MpZ1ZoN7tt7q38JyzTvjmSMQ&usqp=CAU"); */
  background-size: cover;
  background-size: 100rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.donateForm {
  background-color: #fbfbfb;
  padding: 30px;
  border-radius: 1px;
  border-radius: 1rem;
  width: 24rem;
  height: 23rem;
  box-shadow: 2px 2px 9px rgb(191, 191, 191);
  align-items: center;
  text-align: center;
}

.donateForm .logo{
 text-align: center;
}

.loginForm2 {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 1rem;
}

.donate input {
  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;

  margin-top: 0.8rem;
}

#request-btn {
  font-size: 1rem;
  margin-top: 3rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #1773ea;
  border: none;

  color: white;
  font-weight: bold;
  padding: 5px 10px;

  cursor: pointer;
}

.allCards {
  margin-top: 5rem;
  height: max-content;
  width: 90rem;
  margin-left: 25rem;
  position: absolute;
 
}
.Cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.Card {

  margin-left: 3rem;
  align-items: center;
  border: 2px;
  border-radius: 1rem;
  box-shadow: 2px 2px 9px rgb(212, 212, 212);
  text-align: center;
}

#title{
  font-size: 1.5rem;
  background-color: rgb(125, 212, 255);
  margin: 1rem;
  border-radius: 1rem;
  color: white;
  height: 2.5rem;
  padding-top: 1rem;
}

#req_button{
  background-image: linear-gradient(-180deg, rgb(4, 230, 0) 0%, #01a42ac1 100%);
  border-radius: 1rem;
  color: #FFFFFF;
  font-size: 16px;
  justify-content: center;
  text-decoration: none;
  width: 50%;
  border: 0;
  height: 3rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#req_button:hover {
  background-image: linear-gradient(-180deg, rgb(3, 198, 0) 0%, #00d736 100%);
}

.loadingcont {

  width: 80%;
  justify-content: center;
  align-items: center;
}
.loada{
  color: black;
 position: relative;
 top: 50%;

}

@media (min-width: 768px) {
  #req_button{
    padding: 1rem 2rem;
  }
}