@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.orderbody .bodyy {
  background: #48b0df;
  padding: 0.1px;
  height: max-content;
  min-height: 95vh;
}

.OCards hr {
  width: 92%;
  border: 1.5px solid rgb(230, 230, 230);
}

#mainhe {
  width: 95%;
  border: 2px solid #48b0df;
}

.orderspage {
  width: 82vw;
  margin-left: auto;
  margin-right: 2vw;
  background: white;
  padding: 0.1px;
  margin-top: 2rem;
  border-radius: 0.9rem;
  margin-bottom: 2rem;
}

.orderspage h1 {
  font-size: 1.7rem;
  text-align: left;
  color: #48b0df;
  margin-top: 1rem;
  margin-left: 2rem;
}

.orderspage .filterOptions {
  display: flex;
  justify-content: space-between;
  padding: 0.1px;
  margin-bottom: 1rem;
}

.orderspage .filterOptions .search-filter {
  width: 75%;
  margin-left: 2rem;
  background: #ddf4ff;
  border-radius: 0.9rem;
  height: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.orderspage .filterOptions .search-filter:focus {
  margin-top: 0;
  margin-bottom: 0;
}

.orderspage .filterOptions .filter-select {
  width: 15%;
  margin-right: 5rem;
}

.orderspage .sada {
  background: rgb(248, 248, 248);
  min-height: 3rem;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
  width: 20vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

/* .donate {
  background-repeat: no-repeat;
  margin-left: 0%;
 
  background-size: cover;
  background-size: 100rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* .donateForm {
  background-color: #fbfbfb;
  padding: 30px;
  border-radius: 1px;
  border-radius: 1rem;
  width: 24rem;
  height: 23rem;
  box-shadow: 2px 2px 9px rgb(191, 191, 191);
  align-items: center;
  text-align: center;
} */
/* 
.donateForm .logo{
 text-align: center;
} */

.loginForm2 {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 1rem;
}

/* .donate input {
  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;

  margin-top: 0.8rem;
} */

/* #request-btn {
  font-size: 1rem;
  margin-top: 3rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #1773ea;
  border: none;

  color: white;
  font-weight: bold;
  padding: 5px 10px;

  cursor: pointer;
} */

.Card_body {
  border-radius: 20px;
}

.allCards {
  width: 100%;
  margin: auto;
  height: max-content;
  position: relative;
  padding: 1px;
}

.OCards {
  font-size: 1rem;
  position: relative;
  width: 100%;
  margin: auto;
  height: max-content;
  margin-top: 2rem;
}
.medsidspan {
  display: none;
}
.OCards .button-53 {
  background-color: #b7ffe7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 80%;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  margin: auto;
}

.OCards .card {
  max-width: 100%;
  width: 99%;
  margin: auto;
  border: none;
}

.OCards .card-body {
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  padding: 0.1px;
}

.OCards .card-body:hover {
}

.OCards .card-body:hover {
  width: 100%;
}

.OCards .card-text {
  width: 90vw;
  outline: none;
  border: none;
  display: flex;
  justify-content: flex-start;
}

.OCards p {
  width: 11vw;
  padding: 1rem;
  text-align: center;
  line-height: 4rem;
  margin: 0;
  word-break: break-all;
  white-space: normal;
  line-height: 1.2rem;
}

.OCards .content-details {
  display: none;
}

.headd {
}

.heading {
  height: max-content;
  width: 99%;
  font-size: 1.3rem;
  font-weight: 700;
  outline: none;
  margin: auto;
  border: none;
  display: flex;
  justify-content: flex-start;
  color: rgb(0, 0, 0);
}

.heading img {
  padding-left: 1rem;
  float: left;
  margin-top: auto;
  width: 2rem;
}

#action {
  width: 11vw;
}

#title {
  font-weight: 700;
}

#title img {
  width: 1.5rem;
  float: left;
}

#mobpill {
  display: none;
}

#req_button {
  background-image: linear-gradient(-180deg, rgb(4, 230, 0) 0%, #01a42ac1 100%);
  border-radius: 1rem;
  color: #ffffff;
  font-size: 16px;
  justify-content: center;
  text-decoration: none;
  width: 10%;
  border: 0;
  height: 3rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#filterStatus{
  width: 12%;
  margin-right: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #48b0df;
  text-align: center;
}

#req_button:hover {
  background-image: linear-gradient(-180deg, rgb(3, 198, 0) 0%, #00d736 100%);
}

.loadingcont {
  width: 80%;
  justify-content: center;
  align-items: center;
}

.loada {
  color: black;
  position: relative;
  top: 50%;
}

@media screen and (max-width: 1000px) {
  .orderbody .bodyy {
    background: #48b0df;
    padding: 0.1px;
    height: max-content;
    min-height: 95vh;
    width: 100%;
  }

  .orderspage {
    width: 95%;
    margin-left: auto;
    margin-right: 0vw;
    background: white;
    margin: auto;
    padding: 0.1px;
    margin-top: 2rem;
    border-radius: 0.9rem;
    margin-bottom: 2rem;
  }

  .orderspage .filterOptions {
    display: flex;
    justify-content: space-between;
    padding: 0.1px;
    margin-bottom: 1rem;
  }

  .orderspage .filterOptions .search-filter {
    width: 75%;
    margin-left: 1rem;
    background: #ddf4ff;
    border-radius: 0.9rem;
    height: 3rem;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .orderspage .filterOptions .filter-select {
    width: 25%;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .orderspage .sada {
    background: rgb(248, 248, 248);
    min-height: 3rem;
    border-radius: 0.9rem;
    margin-bottom: 1rem;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .OCards .card {
    margin-top: 2rem;
    max-width: 100%;
    width: 95%;
    border: none;
    background: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 8px #bebebe;
    text-align: center;
    padding-bottom: 2rem;
  }
  #sacjgnasd {
    display: none;
  }

  .OCards .card-body {
    margin: auto;
    width: 100%;
    outline: none;
    border: none;
    display: block;
  }

  .OCards .card-text {
    margin: auto;
    text-align: center;
    width: 90%;
    outline: none;
    border: none;
    display: block;
    justify-content: flex-start;
  }

  .OCards p {
    width: 100%;

    padding: 0;
    font-size: 1.5rem;
    display: inline-block;
    text-align: left;
    word-break: break-all;
    white-space: normal;
    line-height: 4rem;
  }

  .OCards .content-details {
    display: block;
    margin-right: 0.5rem;
  }

  #title {
    font-size: 1.1rem;
    margin: 0rem;
    border-radius: 1rem;
    height: 2.5rem;
    padding-top: 1rem;
    width: 80%;
  }

  .heading {
    box-shadow: 2px 2px 8px #cfcfcf;
    height: 7rem;
    width: 85vw;

    font-weight: 600;
    outline: none;
    border: none;
    display: flex;
    justify-content: flex-start;
    background: white;
    border-radius: 1rem;
    display: none;
  }
  #mainhe {
    display: none;
  }
  .heading img {
    margin: auto;
    width: 5rem;
  }

  .heading .headp {
    display: none;
  }

  #mobpill {
    display: block;
  }

  .OCards .button-53 {
    background-color: #b7ffe7;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 30%;
    max-width: 70%;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin: 0;
    display: inline-block;
  }
  .medsidspan {
    display: inline-block;
    width: 35%;
    text-align: left;
    margin-left: 2rem;
    font-weight: 700;
  }
  .medishaelong {
    display: inline-block;
    width: 50%;
    margin-left: 40%;
  }
  #locatasacas {
    position: absolute;
  }
}

/* CSS for the modal container */
.Modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
