@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.profilediv .bodyy{
  margin: auto;
  width: 100vw;
  height: max-content;
  min-height: 120vh;
  background: #ffffff;
  padding-top: 1px;
}
/* .donate {
  background-repeat: no-repeat;
  margin-left:0%;

  background-size: cover;
  background-size: 100rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.profilediv .contentt{
 
  margin: auto;
  margin-top: 2rem;
  width: 85vw;
  box-shadow: 2px 2px 9px rgb(225, 225, 225);
  background: rgb(246, 254, 255);
}

.contentt .userdet{
  position: relative;
  z-index: 2;
  box-shadow: 2px 2px 9px rgb(216, 216, 216);
  background: rgb(255, 255, 255);
  height: 13rem;
  display: flex;
  justify-content: space-evenly;
}
.contentt .userdet img{
  
  height: 6rem;
  margin: auto;
  margin-left: 5rem;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgb(233, 233, 233);
}

.userdet h1{
  width: 30vw;
  margin-top: auto;
  margin-bottom: auto;
}
.userdet #credits{
  width: 30vw;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  text-align: right;
  margin-left: 5rem;
}

#credits img{
  float: right;
  height: 3rem;
  margin: auto;
  padding: 0rem;
  border-radius: 0%;
  box-shadow:none;
  margin: 0;
  margin-left: 2rem;
}

.contentt .donatedorders{
  position: relative;
  z-index: 1;
  background: rgb(246, 254, 255);
  padding-top: 0.1px;
  height: max-content;
  padding-bottom: 2rem;
 
}

.contentt h2{
  text-align: left;
  margin: 0rem;
  margin-top: 1rem;
  margin-left: 5vw;
}

.titleimg{
  float: right;
  margin-right: 5vw;
}

.contentt ul{
  box-shadow: 2px 2px 8px rgb(247, 247, 247);
  width: 90%;
  background: white;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
 
  padding-top: 0.1px;
}
.contentt .proul{
  padding-left: 0;
}
.contentt .donatedorders img{
  width: 2rem;
  margin-left: 1rem;
}
.contentt .proul .profli{
    width: 98%;
    color: white;
    background: rgb(115, 213, 240);
    display: flex;
    justify-content: flex-start;
    box-shadow: 2px 2px 9px rgb(238, 238, 238);
}
.contentt .proul .profli  h3{
  margin-top: auto;
  margin-bottom: auto;
  width: 22vw;
}
.procont {
  padding-left: 0;
}
.procont .proco{
  box-shadow: 2px 2px 6px rgb(251, 251, 251);
  width: 98%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    height: max-content;
}
.procont .proco p{
  width: 22vw;
}
.loginForm2 {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 1rem;
}

.donate input {
  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;

  margin-top: 0.8rem;
}

#request-btn {
  font-size: 1rem;
  margin-top: 3rem;
  border-radius: 1.2rem;
  border: none;
  background-color: #1773ea;
  border: none;

  color: white;
  font-weight: bold;
  padding: 5px 10px;

  cursor: pointer;
}

.contentt .requestorders{
  padding-bottom: 3rem;
  background: rgb(246, 254, 255);
}

.contentt .requestorders img{
  width: 2rem;
  margin-left: 1rem;
 
}

.contentt  .myappoint{
  position: relative;
  z-index: 1;
  /* background: hsl(191, 100%, 98%); */
  padding-top: 0.1px;
  height: max-content;
  padding-bottom: 2rem;
}

.contentt .myappoint img{
  width: 2rem;
  margin-left: 1rem;

}

.contentt .appointm{
  padding-bottom: 3rem;
}

.contentt .appointm img{
  width: 2rem;
  margin-left: 1rem;
 
}

.subs{
  
   background: rgb(254, 254, 254);
   box-shadow: 2px 2px 9px rgb(238, 238, 238);
   width: 70vw;
   margin: auto;
   margin-top: 1rem;
   margin-bottom: 1rem;
   height: max-content;
   min-height: 10rem;
   border-radius: 1rem;
  
  
}

.subimg img{
  margin-right: 2rem;
  border-radius: 1rem;
  float: right;
  height: 10rem;
}
.headsub h2{
padding-top: 2rem;
width: 90%;
margin: auto;
}

.subbut{
  background: rgb(255, 102, 0);
  border: none;
  height: 3rem;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  width: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

#sss{
  margin: 0;
}

#subpix{
    height:2rem;
    box-shadow: none;
    margin: 0;
    padding: 0;
    margin-right: 3rem;
}

.cjec{
  display: flex;
  
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  .userdet #credits{
    text-align: center;
    align-items: center;
    
    width: 90vw;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  .subimg img{
    margin-right: 0rem;
    border-radius: 1rem;
    float: center;
    height: 10rem;
  }
  .profilediv .contentt{
    margin: auto;
    margin-top: 2rem;
    width: 95vw;
    box-shadow: 2px 2px 9px rgb(225, 225, 225);
  }
  .contentt .userdet{
    position: relative;
    z-index: 2;
    box-shadow: 2px 2px 9px rgb(216, 216, 216);
    background: rgb(255, 255, 255);
    height: max-content;
    display: block;
    margin: auto;
    text-align: center;
  }
  .contentt .userdet img{
    height: 8rem;
    margin: auto;
    margin-left: 0rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgb(233, 233, 233);
  }
  .userdet h1{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  

  .contentt .donatedorders{
    position: relative;
    z-index: 1;
    background: hsl(191, 100%, 98%);
    padding-top: 0.1px;
    height: max-content;
    padding-bottom: 2rem;
  }
  
  .contentt h2{
    margin: 0rem;
    margin-top: 1rem;
  }
  
  .contentt ul{
    box-shadow: 2px 2px 8px rgb(247, 247, 247);
    width: 95%;
    background: white;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.1px;
  }
  .contentt .proul{
    padding-left: 0;
  }
  .contentt .proul .profli{
    display: none;
}
.contentt .proul .profli  h3{
  margin-top: auto;
  margin-bottom: auto;
  width: 22vw;
}
.procont {
  padding-left: 0;
}
.procont .proco{
  box-shadow: 2px 2px 6px rgb(251, 251, 251);
  width: 98%;
  margin:auto;
  display: block;
  height: max-content;
  
}
.procont .proco p{
  margin-top: 1rem;
  width: 90%;
}
}