@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.request {
  height: 25rem;
  margin: auto;
  display: block;
  justify-content: center;
  background: #c6e6fb;
  padding: 0.1px;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
}

#reqim {
  height: 15rem;
  float: right;
  border-radius: 1rem;
}
.requestForm {
  text-align: center;
  background-color: #fbfbfb;
  box-shadow: 2px 2px 8px rgb(234, 234, 234);
  padding: 30px;
  border-radius: 0.9rem;
  width: 25vw;
  height: 15rem;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 22rem;
  margin: auto;
  margin-top: 3rem;
}

.loginForm2 {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 0.1rem;
}

.request .requestForm input {
  height: 3.5rem;
  border-radius: 0.9rem;

  width: 70%;
  margin-top: 0.8rem;
  outline: none;
  background: rgb(255, 255, 255);
  background-color: #eaf4fc;
}

/* .suggestions {
  position: relative;
  z-index: 24;
  margin-top: 3rem;
  margin-bottom: auto;
  background: rgb(255, 255, 255);
  width: 22vw;
  min-width: 20rem;
  border-radius: 0.5rem;
} */

input {
  border: none;
}

input:focus {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #9ed2ccbb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.request .donateback {
  margin-top: 0rem;
  height: 20rem;
}
.request .donateback h1 {
  margin: auto;
}

.points h3 {
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .requestapp .bodyy {
    background: #48b0df;
    padding: 0.1px;
    width: 100vw;
  }
  #reqim {
    height: 50vw;
    float: none;
    border-radius: 1rem;
  }
  .request {
    height: max-content;

    width: 95%;
    margin-top: 2rem;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }
  .requestForm {
    text-align: center;
    background-color: #fbfbfb;
    box-shadow: 2px 2px 8px rgb(234, 234, 234);
    border-radius: 0.5rem;
    width: 80%;
    height: max-content;
    margin: auto;
    margin-top: 3rem;
    min-width: 60%;
  }
  .request .requestForm input {
    height: 3.5rem;
    border-radius: 0.9rem;
    width: 90%;
    padding-left: 2rem;
    margin-top: 0.8rem;
    outline: none;
    background: rgb(255, 255, 255);
    background-color: #eaf4fc;
  }
}
