.mainsignup {
  min-height: 40rem;
  height: max-content;
}

.signUp {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 9px rgb(170, 170, 170);
  height: 40rem;
  width: 80vw;
  border-radius: 2rem;
  margin: auto;
  margin-top: 5rem;
}
.signUp .left {
  background: rgb(8, 70, 119);
  background: linear-gradient(
    90deg,
    rgb(27, 95, 147) 0%,
    rgb(144, 218, 255) 100%
  );
  width: 50rem;
  text-align: center;
  border-radius: 2rem;
  animation-name: slide;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.signUp .left .cover {
  position: absolute;
  width: 42vw;
  background: linear-gradient(
    90deg,
    rgb(27, 95, 147) 0%,
    rgb(144, 218, 255) 100%
  );
  height: 27rem;
  z-index: 254;
  margin-top: 8rem;
  animation-delay: 0s;
  animation-name: slide2;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  overflow: hidden;
  opacity: 0;
}
.signUp .left img {
  width: 32vw;
  margin-top: 2rem;
  animation-name: pAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  visibility: hidden;
  opacity: 0;
  border-radius: 2rem;
  position: relative;
  z-index: 2;
}

.signUp .left h1 {
  text-align: center;
  width: 42vw;
  color: #ffffff;
  position: relative;
  padding-top: 2rem;
  animation-duration: 0.5s;
  animation-name: pAnimation;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
  z-index: 25;
}

.form {
  border-radius: 2rem;
  background-color: #ffffff;
  padding: 30px;
  width: 24vw;
  height: max-content;
  margin: auto;
  padding-top: 1rem;
  animation-duration: 1s;
  animation-name: pAnimation;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}
.signUpLogo {
  width: 200px;
  object-fit: contain;
  padding: 10px 0px;
}

.signUp input {
  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;
  background: rgb(243, 251, 255);
  padding-left: 2rem;
  margin-top: 0.8rem;
  width: 20vw;
  max-width: 15vw;
}

#submit-btn {
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 1.2rem;
  border: none;
  background-color: rgba(0, 168, 255, 1);
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  width: 12rem;
}

.form2 {
  text-decoration: none;
  background-color: #fff;
  padding-right: 5rem;
  text-align: center;
  margin-top: 9rem;
  padding-left: 4rem;
  animation-duration: 1s;
  animation-name: pAnimation;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.form2 a {
  text-decoration: none;
  color: rgb(121, 172, 213);
}
.form2 a:hover {
  box-shadow: none;
}
#roles {
  border: none;
  margin-top: 2rem;
}
.middle {
  border-radius: 1rem;
  margin: 2.5rem;
  width: 0.2rem;
  height: 85%;
  background-color: rgba(0, 168, 255, 1);
  animation-duration: 2s;
  animation-name: paAnimation;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;


}
@keyframes paAnimation {
  50% {
    visibility: hidden;
    opacity: 0.1;
    height: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.selopt {
}

select:invalid {
  color: gray;
}
#role {
  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;
  background: rgb(243, 251, 255);
  padding-left: 2rem;
  margin-top: 0.8rem;
  width: 20vw;
  max-width: 16.5vw;
}
#roles:focus {
  border: none;
}
#role * {
  background: rgb(255, 255, 255);
}
#role * {
  background: rgb(255, 255, 255);
  height: 2rem;
}
.selopt {
  border: none;
}

.uploadimage {
  display: flex;
  justify-content: space-between;
}
#output {
  margin: auto;
  height: 4rem;
  width: 4rem;
}

#uploadf {
  margin-right: 3.5vw;
}

#uploadf::-webkit-file-upload-button {
  display: none;
}

#uploadf::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin-top: 1rem;
  margin-right: 1rem;
}

#uploadf:hover::before {
  border-color: black;
}
#uploadf:focus::before {
  margin-top: 0rem;
}
.uploadimage input:focus {
  width: 100%;
  padding-left: 1rem;
  margin-top: 0rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #9ed2ccbb;
  transition: 0.5s;
  outline: none;
  margin-top: 1rem;
}

#uploadf:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

@media screen and (max-width: 1000px) {
  /*nav part already in landing.css*/
  #role * {
    text-align: left;
  }
  .signUp {
    display: block;
    box-shadow: none;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0rem;
    height: max-content;
    margin-top: 2rem;
    width: 100vw;
  }
  .signUp .left {
    margin: auto;
    height: 12rem;
    background: rgb(8, 70, 119);
    background: linear-gradient(
      90deg,
      rgb(27, 95, 147) 0%,
      rgb(144, 218, 255) 100%
    );
    width: 90vw;
    border-radius: 2rem;
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: center;
  }
  .middle {
    display: none;
  }
  .signUp .left h1 {
    text-align: center;
    width: 90vw;
    color: #ffffff;
    position: absolute;
    padding-top: 2rem;
    animation-duration: 3s;
    animation-name: pAnimation;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 25;
  }

  .signUp .left img {
    width: 15rem;
    margin-top: 1rem;
    animation-name: pAnimation;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
    border-radius: 2rem;
    position: relative;
    z-index: 2;
  }
  .form {
    background-color: #ffffff;
    padding: 0;
    width: 100vw;
    height: max-content;
    margin-right: 0rem;
    padding-top: 2rem;
    animation-duration: 3s;
    animation-name: pAnimation;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
  }
  .signUp input {
    height: 3.5rem;
    border-radius: 1.2rem;
    border: none;
    background-color: rgb(243, 251, 255);
    padding-left: 2rem;
    margin-top: 0.8rem;
    width: 70vw;
    max-width: none;
  }
  #roles {
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
  }
  #role {
    height: 3.5rem;
    border-radius: 1.2rem;
    border: none;
    background: rgb(243, 251, 255);
    padding-left: 2rem;
    margin-top: 0.8rem;
    width: 76vw;
    max-width: none;
  }
  .form2 {
    padding-left: 4rem;
    background-color: #fff;
    padding-right: 5rem;
    text-align: center;
    margin-top: 3rem;
  }
  .signUp .left .cover {
    display: none;
  }
  .uploadimage {
    display: block;
  }
  #output {
    margin: auto;
    height: 4rem;
  }
  #uploadf {
    margin-right: 0;
  }
  #uploadf:focus {
    width: 70vw;
  }
}
