.signUp {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 9px rgb(170, 170, 170);
  margin-left: 8rem;
  margin-right: 8rem;
  border-radius: 2rem;
}

.form {
 background-color: #ffffff;
  padding: 30px;
  width: 24rem;
  height: 23rem;
  margin-right: 6rem;
  padding-top: 4rem;
  animation-duration: 3s;
  animation-name:pAnimation;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}
.signUpLogo {
  width: 200px;
  object-fit: contain;
  padding: 10px 0px;
}

.loginPara {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px 40px 20px 40px;
}

input {

  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;
  background-color: rgb(243, 251, 255);
  padding-left: 1.5rem;
  margin-top: 0.8rem;

  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.form > div {
  width: 80%;
  margin: auto;
}

#submit-btn {
  border-radius: 2rem;
  background-color: rgba(0,168,255,1);

  color: white;
  font-weight: bold;
  padding: 5px 10px;
  width: 80%;
  cursor: pointer;
  margin-top: 2rem;
}

.form2 {
  background-color: #fff;
  padding-right: 5rem;
  margin-top: 3rem;
  
}

#role{
  border: none;
  margin-top: 1.5rem;
  margin-left: 5rem;
  background-color: rgb(243, 251, 255);
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
}

