.task .allCards {}

.task {
    background: #48b0df;
    height: max-content;
    width: 100vw;
    padding: 0.1px;
    min-height: 95vh;
    height: max-content;
    padding-bottom: 2rem;
}


.task .bodyy {
    width: 82vw;
    margin-right: 2vw;
    margin-left: auto;
    background: white;
    margin-top: 2rem;
    border-radius: 0.9rem;
    padding: 0.1px;
}

.task #title {
    width: 20vw;
}

.task .bodyy .allCards {
    width: 95%;
    margin: auto;
    height: max-content;
    background: none;
    background-image: none;
    position: relative;
    padding: 1px;
}
.task .bodyy .allCardss{
    background: #C6E6FB;
    padding: 0.1px;
}
.task .bodyy .allCardss .OCards{
    background: white;
    border-radius: 1rem;
    padding: 0.1px;
}
.task .bodyy .allCardss .OCards h2{
    margin-top: 2rem;
    text-align: left;
    margin-left: 5rem;
}
.task .bodyy .allCardss{
    background: #C6E6FB;
    border-radius: 1rem;
    padding-bottom: 2rem;
}
.task .bodyy .allCardss h2{
    margin-top: 0px;
}
.task .donate{
    margin-bottom: 0;
    border-radius: 0;
    border-radius: 1rem;

}
.task .bodyy .allCards {
    width: 95%;
    margin: auto;
    height: max-content;
    background: none;
    background-image: none;
    position: relative;
    padding: 1px;
}

.task .bodyy .allCards {
    font-size: 1rem;
    position: relative;
    width: 100%;
    margin: auto;
    height: max-content;
    margin-top: 0rem;
}

.task .OCards .card {
    margin: 0;
    max-width: 100%;
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;

}

.task .OCards {
    font-size: 1rem;
    position: relative;
    width: 95%;
    margin: auto;
    height: max-content;
    margin-top: 1rem;
}

.task .heading {
    box-shadow: none;
    height: max-content;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    outline: none;
    border: none;
    display: flex;
    justify-content: flex-start;
    background: none;
    border-radius: 0rem;
    color: rgb(0, 0, 0);
}

.task .heading .headp {
    padding-bottom: 0;
}

.task .OCards p {
        padding-top: 1rem;
        width: 11vw;
        word-break: break-all;
        white-space: normal;
        line-height: 2rem;
}

.task .OCards li {
    height: max-content;
    list-style: none;
    width: 100%;
    margin-top: 0rem;
    padding-top: 9px;
    padding-bottom: 10px;
    font-size: 0.8vw;
    display: flex;
    align-items: flex-start;
    padding-left: 0rem;

}

.task .OCards .card-body {
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}

.task .OCards .card-body:hover {
    box-shadow: none;
    background: rgb(246, 246, 246);
}

.task #title {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0rem;
    border-radius: 1rem;
    height: 2.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
    width: 24vw;
}

.task hr {
    width: 80%;

}

#midsec {
    width: 90%;
}

#mainsec {
    width: 95%;
    border: 1.5px solid #3392be;
    ;
}

.task .OCards p button {
    width: 40%;
    margin-right: 0.5rem;
    border: none;
    background: #B7FFE7;
    height: 3.2rem;
    border-radius: 0.3rem;
    font-weight: 700;
    margin-top: 0rem;
    padding: 0.1px;
    cursor: pointer;
}

.task .OCards p button:hover {
    background: #29edd3;
    margin-top: -0.5rem;
}


#markbut {
    width: 80%;
    margin-right: 0rem;
    border: none;
    background: #B7FFE7;
    height: 3.2rem;
    border-radius: 0.3rem;
    font-weight: 700;
    margin-top: 0rem;
    padding: 0.1px;
    cursor: pointer;
}

#markbut:hover {
    background: #29edd3;
    margin-top: -1rem;
}

.task .OCards .headingad {
    box-shadow: none;
    height: max-content;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    outline: none;
    border: none;
    display: flex;
    justify-content: flex-start;
    background: none;
    border-radius: 0rem;
    color: rgb(0, 0, 0);
    margin-top: 3rem;
}

.task .OCards .headingad p {
    padding-top: 1rem;
    width: 24vw;
    word-break: break-all;
    white-space: normal;
    line-height: 2rem;
}
.admincard .Card p {
    padding-top: 1rem;
    width: 24vw;
    word-break: break-all;
    white-space: normal;
    line-height: 2rem;
}

.task .donateForm{
    margin-left: 2rem;
}

.task .donateForm .agasadsa  p{
    margin: 0%;
    width: 12vw;
    margin-left: 0;
    text-align: left;

}
.task .donateForm .agasadsa button{
   
    border: none;
    background: #B7FFE7;
    height: 2.5rem;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
    width: 7vw;
 
}
.task #volunteer_id{
    display: none;
}
.task .donateForm .agasadsa  li{
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 1000px) {

    .task #title {
        width: 90%;
    }

    .task .OCards p {
        width: 90%;
        margin-top: 1rem;

    }

    .task .content-details {
        font-weight: 700;
        margin-left: 0;
    }
}