#verify-btn {
  color: lightgreen;
}

.volunteer_cunt{
  position: absolute;
  margin-left: 10%;
  top: 10%;
}
.volunteer_btn{
  position: absolute;
  margin-left: 50%;

  top: 40%;
  
}
.volimg{
  width: 70rem;
  height: 40rem;
  background-image:url("../../public/vollunteer.png");
  background-repeat:no-repeat;
  margin-top: 15%;
 background-position: center;
 background-size :  cover;
 border-radius: 2rem;
 margin-left: 20%;
 justify-content: center;
 align-items: center; 
 position: relative;
}
.volimg button{
  position: absolute;
  background-color: #17dc76;
  bottom:0;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2rem;
}

.volimg button:focus {
  outline: 0;
}

.volimg button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.volimg button:hover:after {
  bottom: 2px;
  left: 2px;
}
#voldiv {
  display: flex;
  align-items: center;
}
.becm {
  position: absolute;
    left: 50%;
}

#volbtn {
  margin: 35px;

  font-size: 1rem;
  margin-top: 3rem;
  border-radius: 1.2rem;
  border: none;
  background-color: #1773ea;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .volimg button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}