.vol .bodyy {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #48b0df;
  padding: 1px;
}

.vcontent {
  border-radius: 1px;
  margin-left: auto;
  margin-right: 2vw;
  border-radius: 0.9rem;
  width: 82vw;
  background: white;
  min-height: 38vw;
  height: max-content;
  margin-top: 3rem;

  padding: 1px;
}

#vcurve {
  margin-top: 3rem;
  left: 0;
  opacity: 0.5;
  transform: rotate(90deg);
  width: 50vh;
  position: absolute;
}

.volunteer_btn {
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 9px rgb(196, 196, 196);
  width: 50%;
  height: 45vh;
  margin: 10%;
  background: #48b0df;
  color: white;
  border-radius: 1rem;
  padding: 0.1px;
}

.volunteer_btn h1 {
  margin-top: 3rem;
  font-size: 2vw;
}

.volunteer_btn h3 {
  width: 80%;
  font-size: 1.2vw;
  margin: auto;
  margin-top: 2rem;
}

.volunteer_btn .button-53 {
  margin-top: 5rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.volunteer_btn .button-53:hover {
  width: 55%;
  color: #48b0df;
}
.out_cont {
  width: 95%;
}
.volunteer_cunt {
  width: 82vw;
  outline: none;
  border: none;
}
.volunteer_cunt .vpending:first-child {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  height: 1rem;
}
.volitemsearch {
  margin-top: 0.5rem;
  margin-right: 0rem;
  float: left;
  width: 85%;
  max-width: 85%;
  height: 3rem;
  border-radius: 0.3rem;
  background: #e3f7ff;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
}
.volitemsearch:focus {
  margin-left: 3rem;
}
.volhr {
  float: left;
  width: 74vw;
  margin-left: 4.5rem;
  height: 2.5px;
  background: #48b0df;
  border: none;
}

.volitemlist {
  float: left;
  width: 81vw;
  margin-left: 4.5rem;
  height: 0.15rem;
  background: #d4d4d4;
  border: none;
}
.volunteer_cunt .vpending {
  position: relative;
  z-index: 2;
  height: max-content;
  min-height: 5rem;
  width: 95%;
  border: none;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
}
.volunteer_cunt .vpending:hover {
  background-origin: content-box;
  background: rgb(244, 244, 244);
}

.volunteer_cunt .vpending p {
  margin-top: auto;
  margin-bottom: auto;
  width: 15vw;
  font-size: 1rem;
  font-weight: 500;
  word-break: break-all;
  white-space: normal;
}

.h3 button {
  width: 40%;
  margin-right: 0.5rem;
  border: none;
  background: #b7ffe7;
  height: 3.2rem;
  border-radius: 0.3rem;
  font-weight: 700;
  margin-top: 0rem;
  padding: 0.1px;
  cursor: pointer;
}
.h3 button:hover {
  background: #29edd3;
  height: 3.7rem;
}

.volunteer_cunt .vpending .button-53 {
  background: #48b0df;
  width: 7vw;
  margin-right: 2rem;
  margin-left: 2vw;
  margin-top: 1rem;
  border-radius: 0.2rem;
  color: #ffffff;
  padding-top: 0.6rem;
}
.volunteer_cunt .vpending .button-53:hover {
  color: #c1f1ff;
  margin-top: 0.7rem;
}

.vpdetails {
  display: none;
}
.vpending:first-child {
  background: #f9fdff;
}

.vpending:first-child:hover {
  background: white;
}
.h3 {
  font-size: large;
  font-weight: 600;
}

.load {
  position: absolute;
  left: 50%;
  top: 50%;
}

.vbox {
  display: none;
}

#pendtitle {
  float: left;
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 1.5rem;
  color: #41a4d2;
}

.volunteer_cunt .vpending .p-head {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #6a6969;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  .bodyy {
    width: 98vw;
  }
  .vcontent {
    border-radius: 1px;
    margin: auto;
    width: 97vw;
    background: white;
    height: max-content;
    min-height: 80vh;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1px;
  }
  #vcurve {
    margin-top: 3rem;
    left: 0;
    opacity: 0.5;
    transform: rotate(90deg);
    width: 40vh;
    position: absolute;
  }

  .volunteer_btn {
    box-shadow: 2px 2px 9px rgb(247, 247, 247);
    width: 100%;
    height: 40vh;
    margin: 0%;
    margin-top: 4rem;
  }

  .volunteer_btn h1 {
    font-size: 1.8rem;
  }

  .volunteer_btn h3 {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  .volunteer_btn .button-53 {
    background-color: #ffffff;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 60%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    margin: auto;
    margin-top: 5rem;
  }
  .volunteer_btn .button-53:hover {
    width: 55%;
    color: #48b0df;
  }

  .out_cont {
    width: 100%;
    margin: auto;
  }
  .volunteer_cunt {
    width: 100%;
    outline: none;
    border: none;
  }
  .volunteer_cunt .vpending {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    height: max-content;
    min-height: 7rem;
    width: 90%;
    border: none;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 8px #e0e0e0;
    display: flex;

    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  .volunteer_cunt .vpending p {
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 1rem;
    flex: 40%;

    text-align: left;
    margin-left: 1rem;
  }
  .volunteer_cunt .vpending .button-53 {
    width: 30vw;
    background: #48b0df;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;

    position: relative;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    margin: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0;
  }

  .volunteer_cunt .vpending .vpdetails {
    display: block;
    font-weight: 700;
  }
  .vpending:first-child {
    background: #ffffff;
  }
  .vpending .p-head {
    display: none;
  }
  .vbox {
    margin: auto;
    text-align: center;
    display: block;
    min-width: 9rem;
  }
  .volitemsearch {
    margin-top: 0.5rem;
    margin-right: 0rem;

    width: 100%;
    max-width: 85%;
    height: 3rem;
    border-radius: 0.3rem;
    background: #e3f7ff;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }
  .volhr {
    float: left;
    width: 81vw;
    margin-left: 1rem;
    height: 2.5px;
    background: #48b0df;
    border: none;
  }
  #sgaaafas {
    display: none;
  }
  .h3 button {
    width: 40%;
    margin-right: 0.5rem;
    border: none;
    background: #b7ffe7;
    height: 3.2rem;
    border-radius: 0.3rem;
    font-weight: 700;
    margin-top: -1rem;
    padding: 0.1px;
    cursor: pointer;
  }
}
